<nav class="navbar navbar-expand-lg bg-transparent ">
    <div class="container-fluid">
      <a class="navbar-brand text-danger fw-bold" href="" style="font-family: 'Open Sans', sans-serif;font-size: x-large;"><strong>QuestHub</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-danger" id="offcanvasNavbarLabel">QuestHub</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link custom" aria-current="page" href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom" href="#">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle custom" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Welcome...!<span class="text-danger ms-2"><strong>{{userdata.username}}</strong></span></a></li>
                
              </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link custom" href="{% url 'userlogout' %}">Logout</a>
            </li>
            
          </ul>
          
        </div>
      </div>
    </div>
</nav>

<style>
    a.custom:hover{
        color: rgb(201, 3, 3);
    }
</style>